<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%let count=1 %>
        <% response.data.forEach(response=>{%>
            <h1>
                <%=count%>
            </h1>

            <p>
                <%= response.text %>
            </p>
            <br>
            <%count=count + 1%>
                <%})%>
                    <%= response.data[0].text%>
</body>

</html>